
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Post Events For Free, Buy & Sell Tickets Faster Online in Nigeria - Eventful.ng</title>
<meta name="title" content="Find Upcoming Events Around You, Post Events in Nigeria!">
<meta name="description" content="Register for events! Buy tickets online! Sell tickets online! Post your event and manage attendees. Find upcoming Events in Lagos, Abuja, Port Harcourt, Lekki, Surulere, Ikeja, Benin... anywhere in Nigeria. Visit Eventful.ng">
<meta name="keywords" content="Post Events, Promote Events, Sponsor Event, Broadcast Event, Events in Nigeria, Sell Tickets, Event Nigeria, Sell Tickets in Nigeria, Fashion Shows, Theatres, Comedy Shows, Clubs and Events in Lagos, Abuja, Port Harcourt and More. Buy and Sell Tickets Online and at our Various Outlets. Promote Your Events with Us. Find Out What's On In Lagos and What's Happening in Nigeria. Create and manage free and paid events. Find events around you, register for free, buy and sell tickets with ease and receive daily payouts. seminar, events, event software, online registration, festival ticketing, free event management, email invitations, event registration software, online event, closest event, buy ticket online, sell tickets, sell tickets online, online event ticketing, ticket management system, nigeria event ticket, payout, nigeria eventRegister for events! Buy tickets online! Sell tickets online! Post your event and manage attendees. Find upcoming Events in Lagos, Abuja, Port Harcourt, Lekki, Surulere, Ikeja, Benin... anywhere in Nigeria. Visit Eventful.ng">
<meta property="og:title" content="Find Upcoming Events Around You, Post Events in Nigeria!"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Register for events! Buy tickets online! Sell tickets online! Post your event and manage attendees. Find upcoming Events in Lagos, Abuja, Port Harcourt, Lekki, Surulere, Ikeja, Benin... anywhere in Nigeria. Visit Eventful.ng" />
<meta property="og:image" content="/images/eventfulFavicon.png"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Find Upcoming Events Around You, Post Events in Nigeria!"/>
<meta name="twitter:description" content="Register for events! Buy tickets online! Sell tickets online! Post your event and manage attendees. Find upcoming Events in Lagos, Abuja, Port Harcourt, Lekki, Surulere, Ikeja, Benin... anywhere in Nigeria. Visit Eventful.ng" />
<meta name="twitter:image" content="/images/eventfulFavicon.png"/>
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/eventfulFavicon_196by196.png"/>
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/eventfulFavicon_196by196.png"/>
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/eventfulFavicon_196by196.png"/>
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/eventfulFavicon_196by196.png"/>
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/eventfulFavicon_196by196.png"/>
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/eventfulFavicon_196by196.png"/>
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/eventfulFavicon_196by196.png"/>
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/eventfulFavicon_196by196.png"/>
<link rel="icon" type="image/png" href="/images/eventfulFavicon_196by196.png" sizes="196x196"/>
<link rel="icon" type="image/png" href="/images/eventfulFavicon_96by96.png" sizes="96x96"/>
<link rel="icon" type="image/png" href="/images/eventfulFavicon_128by128.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="/images/eventfulFavicon_32by32.png" sizes="16x16"/>
<link rel="icon" type="image/png" href="/images/eventfulFavicon_128by128.png" sizes="128x128"/>
<meta name="application-name" content="Eventful.ng"/>
<meta name="msapplication-TileColor" content="#FF5A19" />
<meta name="msapplication-TileImage" content="/images/eventfulFavicon_128by128.png"/>
<meta name="msapplication-square70x70logo" content="/images/eventfulFavicon_128by128.png"/>
<meta name="msapplication-square150x150logo" content="/images/eventfulFavicon_128by128.png"/>
<meta name="msapplication-wide310x150logo" content="/images/eventfulFavicon_128by128.png"/>
<meta name="msapplication-square310x310logo" content="/images/eventfulFavicon_128by128.png"/>
<link rel="manifest" href="/images/eventfulFavicon_128by128.png">
<meta name="theme-color" content="#46D9AC">

 <!-- Global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css"/>

<!-- CSS
================================================== -->
<link rel="stylesheet" type="text/css" href="https://tickethub.ng/assets/front/css/style.css">
<link rel="stylesheet" type="text/css" href="https://tickethub.ng/assets/front/css/colors/main.css" id="colors">
<link rel="stylesheet" type="text/css" href="https://tickethub.ng/assets/app/plugins/sweetalert/sweetalert.css" >
<link rel="manifest" href="https://tickethub.ng/manifest.json" />

<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
</head>
<body>
<!-- Wrapper -->
<div id="wrapper" data-pricing_percent="3.5" data-pricing_comm="200" data-pricing_limit="400000">

<!-- Header Container
================================================== -->
<header id="header-container">
	<!-- Header -->
	<div id="header">
		<div class="container">
		<!-- Left Side Content -->
			<div class="left-side">
				<!-- Logo -->
				<div id="logo"><a href="/"><img src="/images/eventfulLogo2.png" alt="logo here" class="h-13" style="max-height: 50px;" alt=""></a></div>
				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
				</div>
				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">
						<li><a  href="#">Find Events</a></li>
						<li><a  href="#">Retrieve Ticket</a></li>
						<li><a  href="#">About</a></li>
						<li><a  href="#">Contact</a></li>
						<li class="hidden-md hidden-sm hidden-lg visible-xs"><a href="#sign-in-dialog">Sign In</a></li>
						<li class="hidden-md hidden-sm hidden-lg visible-xs"><a href="#sign-in-dialog">Post Event</a></li>
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
			</div>
		<!-- Left Side Content / End -->

		<!-- Right Side Content -->
			<div class="right-side">
				<div class="header-widget hidden-xs">
					<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i>Sign In</a>
					<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim button border with-icon">Create Event<i class="sl sl-icon-plus"></i></a>
				</div>
				<div class="header-widget hidden-md hidden-sm hidden-lg hidden-xs"></div>
			</div>
		<!-- Right Side Content / End -->
			
			<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
				<div class="small-dialog-header">
					<h3>Sign In</h3>
				</div>
				<!--Tabs -->
				<div class="sign-in-form style-1">
					<ul class="tabs-nav">
						<li class=""><a href="#tab1">Log In</a></li>
						<li><a href="#tab2">Register</a></li>
					</ul>

					<div class="tabs-container alt">
						
						<!-- Login 'Event User'-->
						<div class="tab-content" id="tab1" style="display:none;">
							<form method="post" class="login" action="/views/loginuser">
								<p class="form-row form-row-wide"><label for="">Email Address:<i class="im im-icon-Male"></i>
									<input type="email" class="input-text" name="eventPltUserEmail" value=""/></label></p>
								<p class="form-row form-row-wide"><label for="">Password:<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="eventPltUserPassword"/></label>
									<span class="lost_password"><a href="#">Forgot Your Password?</a></span></p>
								<div class="form-row">
									<input type="submit" class="button border margin-top-5" value="Login"/>
									<!-- <div class="checkboxes margin-top-10">
										<input id="remember-me" type="checkbox" name="check">
										<label for="remember-me">Remember Me</label>
									</div> -->
								</div>
							</form>
						</div>

						<!-- Register an 'Event User'-->
						<div class="tab-content" id="tab2" style="display:none;">
							<form method="post" class="login" action="/views/registerusers">
								<p class="form-row form-row-wide"><label for="">Username:<i class="im im-icon-Male"></i>
									<input type="text" class="input-text" name="eventPltUsername" value=""/></label></p>
								<p class="form-row form-row-wide"><label for="">Email Address:<i class="im im-icon-Mail"></i>
									<input type="email" class="input-text" name="eventPltUserEmail" value=""/></label></p>
								<p class="form-row form-row-wide"><label for="">Password:<i class="im im-icon-Lock-2"></i>
									<input class="input-text" type="password" name="eventPltUserPassword" value=""/></label></p>
								<input type="submit" class="button border fw margin-top-10" value="Sign Up"/>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Sign In Popup / End -->
		</div>
	</div>
	<!-- Header / End -->
</header>
<div class="clearfix"></div>
<!-- Header Container / End -->

<style type="text/css">
.main-search-container:before {content: ""; position: absolute; height: 100%; width: 100%; display: block; background: linear-gradient(to right,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0) 95%);}
i.like-icon {color: #fff; font-size: 19px; position: absolute; z-index: 101; right: 30px; bottom: 30px; cursor: normal; background-color: rgba(24,24,24,0.4); display: block; height: 44px; width: 44px; border-radius: 50%; transition: all 0.4s;}
.like-icon::before {content: '';}
.like-icon::before, .like-icon::after {font-family: "iconsmind" !important;}
.im-icon-Sharethis::before {content: "\ec4b" !important;}
.share-buttons li a.whatsapp-share {border-color: #46d9ac; color: #46d9ac;}
.share-buttons li a.whatsapp-share:hover {background: #46d9ac; color: #fff;}
.shop.rev_slider .slotholder:after, .home.rev_slider .slotholder:after {opacity: 0 !important;}
.home.rev_slider img {cursor: pointer;}
.star-rating span {color: #6f7881; font-size: 14px;}
.listing-item:before {opacity: 0;}
</style>

<!-- Banner
================================================== tickethub-main-search-bg-->
<div class="main-search-container" data-background-image="/images/bgEventful4.png" alt="logo here" class="h-13">
	<div class="main-search-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 style="color:#fff;" class="margin-bottom-0">Find Events | Explore What's Happening When & Where...</h2>
					<h4 style="color:#fff;">Eventful is more than just a ticketing platform; it’s your passport to a world of unforgettable moments.From pulsating concerts to captivating theater performances,
						 and thrilling sports events to enlightening cultural gatherings, we curate a diverse array of experiences that cater to every taste and passion.</h4>
					
					<form method="get" action="/views/events">
						<div class="main-search-input">
							<div class="main-search-input-item">
								<input type="text" name="q" placeholder="Search for an event" class="search_terms" value=""/>
							</div>
							<div class="main-search-input-item location">
								<input type="text" name="loc" id="location" placeholder="Location" value="Lagos"/>
								<a href="/views/events"><i class="fa fa-dot-circle-o"></i></a>
							</div>
							<div class="main-search-input-item">
								<select data-placeholder="All Categories" name="date" class="chosen-select" >
									<option value="">All time</option>	
									<option value="today">Today</option>
									<option value="tomorrow">Tomorrow</option>
									<option value="this_week">This Week</option>
									<option value="this_weekend">This Weekend</option>
									<option value="next_week">Next Week</option>
									<option value="next_month">Next Month</option>
								</select>
							</div>
							<button class="button" type="submit">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Revolution Slider -->
<!-- <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
	<div id="rev_slider_4_1" class="rev_slider home fullwidthabanner" style="display:none;" data-version="5.0.7">
		<ul>
			<li onclick="location.href = 'https://tickethub.ng/lafta101-with-d-lectura-the-return-47626617'" data-index="rs-1" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">
				<img src="https://tickethub.ng/data/events/7ed35a4c178a703f1ce716673c258652.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0">
			</li>
			<li onclick="location.href = 'https://tickethub.ng/green-and-purple-23223126'" data-index="rs-2" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">
				<img src="https://tickethub.ng/data/events/28428460_1930031487007178_8085197289573842944_n.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"> 
			</li>
			<li onclick="location.href = 'https://tickethub.ng/create'" data-index="rs-2" data-transition="fade" data-slotamount="default"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="800" data-fsslotamount="7" data-saveperformance="off">
				<img src="https://tickethub.ng/data/events/26841222_1518154198253253_2727446230815159279_o.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina data-kenburns="on" data-duration="12000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="112" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"> 
			</li>
		</ul>
		<div class="tp-static-layers"></div>
	</div>
</div> -->
<!-- Revolution Slider / End -->
<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">Browse Categories</h3>
		</div>
	</div>
</div>
<!-- Category Boxes -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="categories-boxes-container margin-top-5 margin-bottom-30">
				<a href="/images/icon-artsandentertainment.jpg" class="category-small-box"><i class="im im-icon-Electric-Guitar"></i><h4>Arts And Entertainment</h4></a>
				<a href="/images/icon-hamburger.jpg" class="category-small-box"><i class="im im-icon-Hamburger"></i><h4>Charities & Non-profit</h4></a>
				<a href="/" class="category-small-box"><i class="im im-icon-Dumbbell"></i><h4>Health & Wellness</h4></a>
				<a href="/" class="category-small-box"><i class="im im-icon-Cocktail"></i><h4>Outdoor & Recreational</h4></a>
				<a href="/" class="category-small-box"><i class="im im-icon-Shopping-Bag"></i><h4>Business & Networking</h4></a>
				<a href="/" class="category-small-box"><i class="im im-icon-Heart"></i><h4>Religion & Spirituality</h4></a>
			</div>
		</div>
	</div>
</div>
<!-- Category Boxes / End -->
<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#46d9ac">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="headline locmsg centered margin-bottom-45">Upcoming Events in Lagos<span>Check out these <i>incredible</i> events</span></h3>
			</div>
			<div class="col-md-12">				
				<div class="listing_items">
					<!-- <div class="sampleContainer">
					    <div class="loader">
					        <span class="dot dot_1"></span>
					        <span class="dot dot_2"></span>
					        <span class="dot dot_3"></span>
					        <span class="dot dot_4"></span>
					    </div>
					</div> -->
						<div class="col-lg-4 col-md-6 margin-top-10"><a href="/" class="listing-item-container">
								<div class="listing-item">
									<div class="listing-badge now-open" style="background: #FF00BF">From: ₦15,000</div>
									<img src="/images/sip-and-paint-1.jpg" alt="Sip and Paint">
								</div>
								<div class="star-rating" style="height: 170px;">
									<span><i class="fa fa-map-marker"></i> Deli Ville Restaurant</span><br>
									<h4><strong>Sip and Paint</strong></h4>
									<span><i class="fa fa-calendar-check-o"></i> Saturday, March 16</span>
									<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="Sip and Paint"><i class="like-icon im im-icon-Sharethis""></i></span>	
								</div>
							</a>
						</div>
						<div class="col-lg-4 col-md-6 margin-top-10"><a href="/images/sip-and-paint-2.jpg" class="listing-item-container">
							<div class="listing-item">
							<div class="listing-badge now-open" style="background: #FF00BF">From: ₦15,000</div>									
								<img src="/images/sip-and-paint-2.jpg" alt="Sip and Paint">
							</div>
						<div class="star-rating" style="height: 170px;">
								<span><i class="fa fa-map-marker"></i> Deli Ville Restaurant</span><br>
								<h4><strong>Sip and Paint</strong></h4>
								<span><i class="fa fa-calendar-check-o"></i> Saturday, March 16</span>
								<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="Sip and Paint"><i class="like-icon im im-icon-Sharethis""></i></span>	
						</div></a>
						</div>

						<div class="col-lg-4 col-md-6 margin-top-10"><a href="/" class="listing-item-container">
						<div class="listing-item">
							<div class="listing-badge now-open" style="background: #FF00BF">Free Event</div><img src="/images/naija_poetry.jpg" alt="Naija Poetry Fest">
						</div>
						<div class="star-rating" style="height: 170px;">
							<span><i class="fa fa-map-marker"></i> Glass House, Faculty of Education, University of Lagos, Yaba, Lagos</span><br>
							<h4><strong>Naija Poetry Fest</strong></h4>
							<span><i class="fa fa-calendar-check-o"></i> Thursday, March 21</span>
							<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="Naija Poetry Fest"><i class="like-icon im im-icon-Sharethis""></i></span>	
						</div></a>
						</div>
							
						<div class="col-lg-4 col-md-6 margin-top-10">
							<a href="/" class="listing-item-container">
								<div class="listing-item">
									<div class="listing-badge now-open" style="background: #FF00BF">From: ₦3,000</div>									
									<img src="/images/saturday-night-life.jpg" alt="Saturday Night Party Hip-hop Edition">
								</div>
								<div class="star-rating" style="height: 170px;">
									<span><i class="fa fa-map-marker"></i> TAG Lagos</span><br>
									<h4><strong>Saturday Night Party Hip-hop Edition</strong></h4>
									<span><i class="fa fa-calendar-check-o"></i> Saturday, March 23</span>
									<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="Saturday Night Party Hip-hop Edition"><i class="like-icon im im-icon-Sharethis""></i></span>	
								</div>
							</a>
						</div>
						
						<div class="col-lg-4 col-md-6 margin-top-10">
							<a href="/" class="listing-item-container">
								<div class="listing-item">
									<div class="listing-badge now-open" style="background:#FF00BF">From: ₦5,000</div>									
									<img src="/images/naija_poetry.jpg" alt="'NANA OF THE NIGER DELTA'">
								</div>
								<div class="star-rating" style="height: 170px;">
									<span><i class="fa fa-map-marker"></i> Muson Center, Onikan, Lagos, Nigeria</span><br>
									<h4><strong>'NANA OF THE NIGER DELTA'</strong></h4>
									<span><i class="fa fa-calendar-check-o"></i> Wednesday, April 10</span>
									<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="'NANA OF THE NIGER DELTA'"><i class="like-icon im im-icon-Sharethis""></i></span>	
								</div>
							</a>
						</div>
						
						<div class="col-lg-4 col-md-6 margin-top-10">
							<a href="/" class="listing-item-container">
								<div class="listing-item">
									<div class="listing-badge now-open" style="background:#FF00BF">Free Event</div>									
									<img src="/images/naija_poetry.jpg" alt="D2Live">
								</div>
								<div class="star-rating" style="height: 170px;">
									<span><i class="fa fa-map-marker"></i> Lagos</span><br>
									<h4><strong>D2Live</strong></h4>
									<span><i class="fa fa-calendar-check-o"></i> Friday, April 19</span>
									<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="D2Live"><i class="like-icon im im-icon-Sharethis""></i></span>	
								</div>
							</a>
						</div>
						
						<div class="col-lg-4 col-md-6 margin-top-10">
							<a href="/" class="listing-item-container">
								<div class="listing-item">
									<div class="listing-badge now-open" style="background: #FF00BF">From: ₦500</div>									
									<img src="/images/naija_poetry.jpg" alt="MY CULTURE, MY PRIDE">
								</div>
								<div class="star-rating" style="height: 170px;">
									<span><i class="fa fa-map-marker"></i> Ijesha Community Hall</span><br>
									<h4><strong>MY CULTURE, MY PRIDE</strong></h4>
									<span><i class="fa fa-calendar-check-o"></i> Sunday, April 28</span>
									<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="MY CULTURE, MY PRIDE"><i class="like-icon im im-icon-Sharethis""></i></span>	
								</div>
							</a>
						</div>
						
						<div class="col-lg-4 col-md-6 margin-top-10">
							<a href="/" class="listing-item-container">
								<div class="listing-item">
									<div class="listing-badge now-open">Free Event</div>									
									<img src="/images/naija_poetry.jpg" alt="IOT West Africa Conference & Exhibition">
								</div>
								<div class="star-rating" style="height: 170px;">
									<span><i class="fa fa-map-marker"></i> Landmark Centre</span><br>
									<h4><strong>IOT West Africa Conference & Exhibition</strong></h4>
									<span><i class="fa fa-calendar-check-o"></i> Tuesday, June 25</span>
									<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="IOT West Africa Conference & Exhibition"><i class="like-icon im im-icon-Sharethis""></i></span>	
								</div>
							</a>
						</div>
						
						<div class="col-lg-4 col-md-6 margin-top-10">
							<a href="/" class="listing-item-container">
								<div class="listing-item">
									<div class="listing-badge now-open">Free Event</div>									
									<img src="/images/naija_poetry.jpg" alt="Power & Water Nigeria Exhibition & Conference">
								</div>
								<div class="star-rating" style="height: 170px;">
									<span><i class="fa fa-map-marker"></i> Landmark Centre</span><br>
									<h4><strong>Power & Water Nigeria Exhibition & Conference</strong></h4>
									<span><i class="fa fa-calendar-check-o"></i> Tuesday, June 25</span>
									<span class="button popup-with-zoom-anim share-this" title="Share with friends" href="#small-dialog" data-url="/" data-title="Power & Water Nigeria Exhibition & Conference"><i class="like-icon im im-icon-Sharethis""></i></span>	
								</div>
							</a>
						</div>
					</div>
			</div>
		</div>

		<div class="row text-center">
			<a class="button" href="/">See more events</a>
		</div>
	</div>
</section>
<!-- Fullwidth Section / End -->

<!-- Container -->
<div class="container">
<div class="row">
<div class="col-md-12">
	<h3 class="headline centered margin-bottom-35 margin-top-70">Popular Cities <span>Browse listings in popular places</span></h3>
</div>
	<div class="col-md-4">
		<a href="/images/victoria-island.jpg" class="img-box" data-background-image="/images/victoria-island.jpg">
			<div class="img-box-content visible"><h4>Victoria Island </h4></div></a>
	</div>
	
	<div class="col-md-8">
		<a href="/images/surulere.jpg" class="img-box" data-background-image="/images/surulere.jpg">
			<div class="img-box-content visible"><h4>Surulere</h4></div></a>
	</div>
		
	<div class="col-md-8">
		<a href="/images/ikeja.jpg" class="img-box" data-background-image="/images/ikeja.jpg">
			<div class="img-box-content visible"><h4>Ikeja </h4></div></a>
	</div>

	<div class="col-md-4">
		<a href="/images/lekki.jpg" class="img-box" data-background-image="/images/lekki.jpg">
			<div class="img-box-content visible"><h4>Lekki</h4></div></a>
	</div>
</div>
</div>

<!-- Container / End -->
<a href="#" style="margin-bottom: -65px;" class="flip-banner parallax margin-top-65" data-background="/images/eventfulSlider2.png" data-color="#46d9ac" data-color-opacity="0.85" data-img-width="2500" data-img-height="1666">
	<div class="flip-banner-content">
		<h2 class="flip-visible">Find events around you... Know what's happening, when and where...</h2>
		<h2 class="flip-hidden">Browse Events <i class="sl sl-icon-arrow-right"></i></h2>
	</div>
</a>
<!-- Share Popup -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
	<div class="small-dialog-header"><h3>Share</h3></div>
	<div class="text-center">
		<ul class="share-buttons margin-bottom-10">
			<li><a target="_blank" class="whatsapp-share" href=""><i class="fa fa-whatsapp"></i> Share</a></li> 
			<li><a target="_blank" class="fb-share" href=""><i class="fa fa-facebook"></i> Post</a></li>
			<li><a target="_blank" class="twitter-share" href=""><i class="fa fa-twitter"></i> Tweet</a></li>
		</ul> 
	</div>
	<input type="text" class="text_link text-center" value="" onclick="this.select()">
</div>
<!-- Share Popup / End -->

<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer margin-top-65">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-6"><img class="footer-logo" src="/images/eventfulLogo2.png" style="max-height: 100px" alt=""><br><br>
				<p>Post events in Nigeria, free and paid events. Find events around you, register for free event, buy tickets, sell tickets online and promote your event in Nigeria.</p>
			</div>

    <div class="col-md-4 col-sm-6 "><h4>Helpful Links</h4>
		<ul class="footer-links">
			<li><a href="/views/loginuser">Login</a></li>
			<li><a href="/views/registerusers">Sign Up</a></li>
			<li><a href="#">Retrieve Ticket</a></li>
			<li><a href="/views/registerevents">Create Event</a></li>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Privacy Policy</a></li>
		</ul>

		<ul class="footer-links">
			<li><a href="#">FAQ</a></li>
			<!-- <li><a href="#">Blog</a></li> -->
			<li><a href="/views/events">Find Events</a></li>
			<li><a href="#">About Eventful.ng</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	<div class="clearfix"></div>
	</div>		

	<div class="col-md-3  col-sm-12"><h4>Connect with us</h4>
	<div class="text-widget">
		<!-- <span>1 Adekunle Owobiyi Close, Ogba, Ikeja Lagos, Nigeria</span> <br> -->
		Whatsapp: <span><a href="https://wa.me/2348174760000">+2348174760000</a></span><br>
		E-Mail:<span> <a href="mailto:hello@eventful.ng">hello@eventful.ng</a> </span><br>
	</div>

        <ul class="social-icons margin-top-20">
			<li><a target="_blank" class="facebook" href="#"><i class="icon-facebook"></i></a></li>
			<li><a target="_blank" class="twitter" href="#"><i class="icon-twitter"></i></a></li>
			<li><a target="_blank" class="instagram" href="#"><i class="icon-instagram"></i></a></li>
		</ul>
	</div>
	</div>

	<!-- Copyright -->
	<div class="row">
	<div class="col-md-12">
	<div class="copyrights">© 2024 Eventful.ng. All Rights Reserved.</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>
</div>

<!-- Wrapper / End -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110690650-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-110690650-1');
</script>

<!-- Scripts
================================================== -->
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/chosen.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/slick.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/counterup.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="https://tickethub.ng/assets/front/scripts/custom.js"></script>
<script src="https://tickethub.ng/assets/app/plugins/sweetalert/sweetalert.min.js"></script>
<script src="https://tickethub.ng/assets/app/plugins/sweetalert/jquery.sweet-alert.custom.js"></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5a734f6b4b401e45400c9839/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<script type="text/javascript">
	function ngn(str){
        str += '';
        x = str.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return '₦'+x1 + x2;
    }

</script><!-- Custom Javascript Goes here -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5lFpKS8KPjHWgv1QGa0qURIoMoZfTVqw&libraries=places"></script>
<script>
	$(document).ready(function () {
		google.maps.event.addDomListener(window, 'load', initialize);
		$('.share-this').on('click', function(){
			var url = $(this).attr('data-url');
			var title = $(this).attr('data-title');
			s_fb = 'http://www.facebook.com/sharer.php?u='+url;
			s_whatsapp = 'whatsapp://send?text='+url+' Hey guys! Click here to get tickets to '+title;
			s_twitter = 'https://twitter.com/share?url='+url+'&amp;text='+title+'&amp;hashtags=tickethubdotng';
			$('.whatsapp-share').attr('href',s_whatsapp);
			$('.fb-share').attr('href',s_fb);
			$('.twitter-share').attr('href',s_twitter);
			$('#small-dialog .text_link').val(url).select();
		});
	});
	
	function initialize() {
		var options = {
			types: ['(regions)'],
			componentRestrictions: {country: "ng"}
		};
	    var input = document.getElementById('location');
	    var autocomplete = new google.maps.places.Autocomplete(input);
	}

	$('.search_terms').on('blur, keyup', function(){
    	newval = $(this).val().replace(/\(.+?\)/g, '').replace(/[^a-z0-9]+/gi, ' ');
    	$(this).val(newval);
    });
</script>
</body>
</html>